* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.hidden {
    display: none;
}

body>div#choice {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
}

body>div#choice>div {
    background-color: white;
    border-radius: 20px;
    margin: 200px auto;
    padding: 40px;
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
}

body>div#choice>div>div:nth-child(3n+1) {
    grid-column: 1 / span 2;
}

body>div#game {
}

body>div#game>div {
    background-color: white;
    border-radius: 10px;
    width: 490px;
    margin: 30px auto;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

body>div#game>div>div {
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 150px;
    text-align: center;
}

body>div#game>div>div:nth-child(9n + 1)
,body>div#game>div>div:nth-child(9n + 2)
,body>div#game>div>div:nth-child(9n + 4)
,body>div#game>div>div:nth-child(9n + 5)
,body>div#game>div>div:nth-child(9n + 7)
,body>div#game>div>div:nth-child(9n + 8) {
    border-right: 1px solid black;
}

body>div#game>div>div:nth-child(9n + 1)
,body>div#game>div>div:nth-child(9n + 2)
,body>div#game>div>div:nth-child(9n + 3)
,body>div#game>div>div:nth-child(9n + 4)
,body>div#game>div>div:nth-child(9n + 5)
,body>div#game>div>div:nth-child(9n + 6) {
    border-bottom: 1px solid black;
}